[submodule "Schulte-StopWatch"]
	path = thirdparty/Schulte-StopWatch
	url = https://github.com/xuruiray/Schulte-StopWatch.git
[submodule "Ratchet-StopWatch"]
	path = thirdparty/Ratchet-StopWatch
	url = https://github.com/xuruiray/Ratchet-StopWatch.git
